{% extends "base.html" %}
{% block additional_head %}
<style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 360px;
        overflow: hidden;
    }
</style>
{% endblock %}
{% block weather %} {{ weather|safe() }} {% endblock %}
{% block subtitle %}
<strong style="font-family: NEXON Lv2 Gothic;"> 오히려 좋아 </strong>
<small style="font-family: NEXON Lv2 Gothic Light;"> 이모티콘 생성기 </small>
{% endblock %}
{% block content %}

<img src="static/img/index_image.jpg"
    style="max-width: 100%; max-height:720px; margin: auto">

{% endblock %}