{% extends "base.html" %}
{% block subtitle %}
<strong style="font-family: NEXON Lv2 Gothic Bold;">사진 업로드</strong>
{% endblock %}
{% block content %}
<div class="row">
    <!-- <div class="col-1"></div> -->
    <div class="col-10">
        <form action="/menu1" method="post" style="font-family: NEXON Lv2 Gothic Light;">
            <input type="file" id="camera" name="camera" capture="camera" accept="image/*" />
            <img id="pic" style="width:100%;" />
            <input type="submit" value="전송" />
        </form>
    </div>
    <!-- <div class="col-1"></div> -->
</div>
{% endblock %}