{% extends "base.html" %}
{% block subtitle %}
<strong style="font-family: NEXON Lv2 Gothic Bold;">사진 업로드</strong>
{% endblock %}
{% block content %}
<div class="row">
    <!-- <div class="col-1"></div> -->
    <div class="col-10">
        <form action="/menu1" method="post" style="font-family: NEXON Lv2 Gothic Light;">
            <td>학습모델: </td>
            <select name="m_name">
            </select>
            <form>
                입력: <input type="text" name="sentence" placeholder=입력하세요>
                <button type="submit" class="btn btn-primary mr-2"
                    style="background-color: rgb(8,32,64); font-family: NEXON Lv2 Gothic Bold;">실행</button>
            </form>
        </form>
    </div>
    <!-- <div class="col-1"></div> -->
</div>
{% endblock %}